body {
}
.center {
  margin: 0 auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  background-color: lightblue;
}
#maintable {

}
img.items {
  max-width:50%;
  max-height:50%;
}
#healthychoice {
  color:green;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
p {
  font-size: 1em;
  font-family: serif;
}
#menu {
  color:red;
}
#thead {
  color:black;
  text-align: center;
}

#nestedtable {
	border: 3px solid violet;
}
#menu {
	margin: 0 auto;
	width: 50%;

}
h1.menu {
	text-align: center;
}
h3.favorites{
  text-align: center;
}
#favorites
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
  margin: 0 auto;
	width: 31%;
	border-collapse: collapse;
	text-align: center;
  color:blue;
  padding: 10px 8px;
}
#favorites tr:hover td{color: black;}
