body {

}
.center {
  margin: 0 auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#maintable {

}
img.items {
  max-width:50%;
  max-height:50%;
}
#healthychoice {
  color:green;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
p {
  font-size: 1em;
  font-family: serif;
}
#menu {
  color:red;
}
#favorites {
  color:blue;
}
#thead {
  color:black;
  text-align: center;
}

#nestedtable {
	border: 3px solid violet;
}
#menu {
	margin: 0 auto;
	width: 50%;
	
}
h1.menu {
	text-align: center;
}
